.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.heading {
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 800;
  margin: 1rem 0;
  display: inline-block;
}

.bio {
  max-width: 80%;
  margin: auto;
  margin-bottom: 4rem;
}

.anchorLink {
  opacity: 0;
  transition: opacity 1s;
}

.headingWrapper:hover .anchorLink {
  opacity: 1;
}

.projects > section {
  margin: 24px 0;
  padding-bottom: 1px;
  background: linear-gradient(to left, #f2f2f5 0%, #d3932e4d 25%, #f2f2f5 100%) left bottom #f2f2f5 no-repeat;
  background-size: 100% 1px;
}

@media (min-width: 1400px) {
  .projects {
    max-width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 1200px) {
  .headingMd {
    font-size: 1rem;
  }

  .bio {
    max-width: 90%;
  }
}

@media (min-width: 860px) {
  .projects {
    max-width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  .heading {
    font-size: 2.3rem;
  }

  .anchorLink {
    display: none;
  }
}
