.footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.footer h4 {
  margin: 8px 0;
}

.footer section {
  flex: 1;
}

.footer ul {
  list-style: none;
  display: inline-block;
  margin: 4px 0;
}

.footer ul {
  padding-left: 12px;
}

.footer ul.websiteLinks li {
  float: left;
  list-style: outside none none;
  width: 50%;
}

.externalLink {
  display: flex;
  align-items: center;
}

.externalLink .icon {
  margin-right: 4px;
}

.icon svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 1000px) {
  .footer ul.websiteLinks li {
    clear: both;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
  }
}
