@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-gray-50);
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  h1,
  h2 {
    font-family: "CaviarDreams", system-ui, sans-serif;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }

  @media print {
    html,
    body {
      background: var(--color-white);
      font-size: 13px;
    }
  }
}

@layer components {
  .link {
    color: var(--color-purple-800);
    &:hover {
      text-decoration: underline;
    }
  }
}

@utility col {
  display: flex;
  flex-direction: column;
}

@utility row {
  display: flex;
  flex-direction: row;
}
